<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently pursuing Embedded system engineering course at
      <a class="underline-link" href="https://www.lambtoncollege.ca/" target="_blank">Lambton College</a> with gaining lots of experience in embedded field working with awesome people. I recently graduated from
      <a class="underline-link" href="https://www.mgu.ac.in//" target="_blank">Mahatma Gandhi University</a> after completing 4 year electronics and communication enginneering.
      
    </p>

    <p>
      As a embedded engineer, I enjoy bridging the gap between engineering and design &mdash; combining my technical knowledge
      with my keen eye for design and develop. My goal is to get started my career as an embedded system engineer and to use my skills and capabalities 
      in an efficient and scalable manner to the outside world.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably watching movies, chatting,
      or thinking of how to make a better tommorrow.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
